*.iml
*.ipr
*.iws
target
*.log
*.swp
tags
.DS_Store
plugin/.DS_Store
streams-core/activemq-data
.project
.settings
.classpath
.java-version
activemq-data
.idea/*
atlassian-ide-plugin.xml
.metadata/*
.recommenders/*
